/*
David's Stylesheet
*/

h1 {
	font-size: 5em;
	color: #2952A3;
	font-family: Helvetica;
	text-align: center;
}

p {
	font-size: 2em;
	text-align:center;
}

button {
	height: 50px;
	width: 120px;
	border-color: #6495ED;
	border-width: solid;
	background: #BCD2EE;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #2952a3;
	font-size: 1em;
}

div {
	text-align: center;
}

a {
	text-decoration: none;
}

button:hover {
	background-color: #FF3300;
}